# Always ignore these files:
.config/fish/fish_variables
README.md
LICENSE
.config/nvim/lazy-lock.json
# Unused configs
.config/ghostty
.config/zathura
.config/sioyek
.config/tmux
## Mac
.config/yabai
## Linux
.config/skhd
.config/hypr
.config/swaync
.config/waybar
.config/qimgv

# NOT a MacOS machine, ignore these files:
{{ if ne .chezmoi.os "darwin" }}
.config/skhd
.config/yabai
{{ end }}

# NOT a Linux machine, ignore these files:
{{ if ne .chezmoi.os "linux" }}
.config/MangoHud
.config/btop
.config/hypr
.config/keyb
.config/qimgv
.config/rofi
.config/swaync
.config/waybar
.config/zathura
{{ end }}
