# Always ignore these files:
.config/fish/fish_variables
README.md
LICENSE
.config/nvim/lazy-lock.json
# Unused configs
.config/yabai
.config/skhd
.config/ghostty

# NOT a MacOS machine, ignore these files:
{{ if ne .chezmoi.os "darwin" }}
.config/yabai
.config/skhd
{{ end }}

# NOT a Linux machine, ignore these files:
{{ if ne .chezmoi.os "linux" }}
.config/hypr
.config/MangoHud
.config/qimgv
.config/rofi
.config/waybar
.config/btop
.config/zathura
.config/keyb
{{ end }}
