* {
    border: none;
    border-radius: 0px;
    /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
    font-family: Maple Mono NF;
    font-size: 14px;
    font-style: normal;
    min-height: 0;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

window#waybar {
    background: rgba(0, 0, 0, 1);
}

#workspaces {
}

#workspaces button {
    padding: 0px 13px 0px 13px;
}

#workspaces button.active {
    background-color: #434240;
}

#workspaces button:hover {
    background-color: #5c5b59;
}

#tray {
    margin: 0px 10px 0px 0px;
}

#tray menu {
    background: rgba(0, 0, 0, 1);
}

#tray > .needs-attention {
    border: 2px solid #f04204;
}
